<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/css/media.css">
    <div class="row d-flex flex-row" >
        <div class="col-md-3 border" id="room-info">
            <h3 id="room-name"></h3>
            <p>
                Owner: <%=room.owner.displayName%>
            </p>
            <h3>Users</h3>
            <ul id="chat-users">

            </ul>
        </div>
        <div class="col-9" id="main-chats">
            <div id="chats-messages" class="d-flex flex-column" style="height:550px;overflow:scroll;">
                <%for(let msg of room.messages) {%>
                    <%if(currentUser.displayName!==msg.author) {%>
                    <div class="col-6 border mb-3 ">
                        <p> <span class="text-muted"><%=msg.author%>: <%=msg.time%></span><br>
                            <%=msg.message%>
                        </p>
                    </div>
                    <%} else{%>
                        <div class="col-6 border ms-auto mb-3">
                            <p> <span class="text-muted"><%=msg.author%>: <%=msg.time%></span><br>
                                <%=msg.message%>
                            </p>
                        </div> 
                    <%}%>
                <%}%>
            </div>
            <div style="height:10%">
                <form id="chat-form">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control" placeholder="Enter message" autocomplete="off">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cursor-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () { 
            var socket = io();
            const roomname = document.getElementById('room-name');
            const userList = document.getElementById('chat-users');
            const chatForm = document.getElementById('chat-form');
            const chatMessages = document.querySelector('#chats-messages')

            
            const user = <%-JSON.stringify(user)%>;
            const room = <%-JSON.stringify(room)%>;
            //console.log(user)
            socket.emit('joinRoom', { user, room })

            socket.on('roomUsers', ({ newRoom  }) => {
                //console.log(room,users)
                outputRoomName(newRoom);
                outputUsers(room.users);
            })

            socket.on("message", ({chat,time}) => {
                console.log("hiiii");
                outputMessage({chat,time});

                chatMessages.scrollTop = chatMessages.scrollHeight;
            })

            chatForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const msg = e.target.elements.msg.value;
                socket.emit('chatMessage', {msg,user,room})

                e.target.elements.msg.value = ''
                e.target.elements.msg.focus();
                //console.log(msg);
            })

            socket.emit("userInfo",({room,user}));

            function outputMessage({chat,time}) {
                console.log(chat)
                const div = document.createElement('div')
                div.classList.add('col-6','border','mb-3');
                if(chat.author === user.displayName){
                    div.classList.add('ms-auto')
                }
                const p = document.createElement('p')
                const span = document.createElement('span')
                span.classList.add('text-muted')
                span.innerText = `${chat.author}: ${time}`;
                p.appendChild(span);
                p.appendChild(document.createElement('br'))
                const span2 = document.createElement('span')
                span2.innerText = `${chat.message}`
                p.appendChild(span2)
                div.appendChild(p);
                chatMessages.appendChild(div);
            }

            function outputRoomName(room) {
                roomname.innerText = room.name;
            }

            function outputUsers(users) {
                //console.log(users)
                // for(let user of users){
                //     const li = document.createElement('li')
                //     li.innerText = `${user.displayName}`;
                //     userList.appendChild(li);
                // }
                userList.innerHTML = `
                ${users.map(user => `<li>${user.displayName}</li>`).join('')}
                `;
            }
            
        });
    </script>